/* --- MAIN --- */

body {
    background: #000408;
    text-align: center;
  }
  
  h1 {
    position: relative;
    font: bolder 22px/30px "Arial Black", Gadget, sans-serif;
    color: #fff;
    z-index: 1;
  }
  
  .table {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: #8f0222; */
    background: linear-gradient(#a90329, #8f0222, #6d0019);
    margin: 37px auto;
    padding: 38px 18px 30px;
    display: table;
    line-height: 0;
    /* border-radius: 15px; */
    box-sizing: border-box;
    /* box-shadow: 1px 1px 4px 1px rgba(255, 250, 255, .5) inset, -1px -1px 4px 1px #002 inset, 3px 3px 80px 15px #000; */

    /* background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/3ac95250356645.58d023ba56d89.jpg"); */
    /* background-image: url("https://steamuserimages-a.akamaihd.net/ugc/859487850041602021/84AE6980846B4C1D5143C5A84F24D261D58E38FE/"); */

    background-image: url("http://www.sclance.com/backgrounds/red-velvet-background/red-velvet-background_1901809.jpg");
   
    /* background-attachment: fixed; */
  }
  
  .deck {
    display: table-cell;
    vertical-align: middle;
  }
  
  /* --- CARD SETTINGS --- */
  
  .deck>input,
  .deck>u,
  .deck>b {
    width: 86px;
    height: 129px;
    position: relative;
  }
  
  .deck>input {
    margin: 0 5px 10px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    
  }
  
  .deck>u,
  .deck>b {
    left: -5px; /* Subtract margin value */
    margin-left: -86px; /* Subtract width value */
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* --- FRONT CONTENT --- */
  
  .deck>u {
    font: bold 8px/1 Arial, Helvetica, sans-serif;
    color: #148;
    background: #f8fff9;
    text-decoration: none;
  }
  
  .deck>u>img {
    display: block;
    width: 75px;
    height: 75px;
    margin: 5px auto 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    background: linear-gradient(#fcfcff, #fff 5%, #fbfbfe 65%, #f3f3f5 100%);
  }

  .deck>u>i {
    display: block;
    width: 75px;
    height: 75px;
    margin: 5px auto 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* background: #fff; */
    /* background: linear-gradient(#fcfcff, #fff 5%, #fbfbfe 65%, #f3f3f5 100%); */
  
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 0.8rem;

    
  }
  
  .deck>u>c {
    display: block;
    margin: 1px 4px 0;
    font: 9px/.9 Arial, Helvetica, sans-serif;
    color: #a00;
  }
  
  /* --- BACK CONTENT --- */
  
  .deck>b {
    background: #ebe119;
    background: linear-gradient(rgb(0, 0, 0), #25CCF7);
    border: 5px solid #f8fff9;
    box-sizing: border-box;
  }
  
  .deck>b::before,
  .deck>b::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url('https://lumarbros.com/lmb19/wp-content/uploads/2019/04/logo_libesoft.png') top/72px;
    /* background: url('http://www.feltex.com.br/felix/wp-content/uploads/2014/03/Projeto.png') center/36px; */
    border-radius: inherit;
    opacity: .35;
    
  }
  
  .deck>b::after {
    background-position: calc(50% + 18px) calc(50% + 18px);
  }
  
  /* --- ANIMATION AND 3D SETTINGS --- */
  
  .deck {
    perspective: 1500px;
  }
  
  .deck>u,
  .deck>b {
    transition: all .8s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    z-index: 0;
  }
  
  .deck>input:checked + u,
  .deck>input:checked + u + b {
    z-index: 100;
  }
  
  .deck>input:focus + u,
  .deck>input:focus + u + b {
    transition-property:  transform, filter, box-shadow; /* Exclude z-index to immediately overlay */
    outline: 0;
    z-index: 900;
  }
  
  /* --- FRONT ANIMATION --- */
  
  .deck>u {
    transform: translateX(160%) rotateY(-180deg);
    transform-origin: -30% center;
    box-shadow: 130px 30px 40px -20px rgba(0, 0, 0, 0);
    filter: brightness(3);
  }
  
  .deck>input:checked + u {
    transform: translateX(0%) rotateY(0deg);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    filter: brightness(1);
  }
  
  /* --- BACK ANIMATION --- */
  
  .deck>b {
    transform: translateX(0%) rotateY(0deg);
    transform-origin: 130% center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    filter: brightness(1);
  }
  
  .deck>input:checked + u + b {
    transform: translateX(-160%) rotateY(180deg);
    box-shadow: 80px 10px 20px -40px rgba(0, 0, 0, 0);
    filter: brightness(0);
  }
  
  /* Edge hack - Prevent click during transition, otherwise the animation breaks. */
  
  @supports (-ms-ime-align:auto) {
    .deck>input {
      animation: step-end .8s; // Time is the same as the main transition
    }
    .deck>u,
    .deck>b {
      cursor: pointer;
    }
  
    .deck>input:checked {
      animation-name: noclick1;
    }
  
    .deck>input:not(:checked) {
      animation-name: noclick2;
    }
  
    @keyframes noclick1 {
      0%   { visibility: hidden; }
      100% { visibility: visible; }
    }
  
    @keyframes noclick2 {
      0%   { visibility: hidden; }
      100% { visibility: visible; }
    }
  }
  

/* NAVBAR */
#custom-container {
  margin-top: 6px;
}

.brand {
  /* margin-left: 8px; */
  margin-right: 10px;
  text-transform: uppercase;
  /* font-size: 0.8rem; */
  /* font-family: 'Macondo Swash Caps', cursive; */
  /* font-family: 'Sniglet', cursive; */
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Rammetto One', cursive;
  /* font-weight: bolder; */
  font-size: 1.5rem;
  
  /* background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); */

  background: rgb(255,179,246);
  background: linear-gradient(90deg, #fff8dc, rgba(245,232,234,1) 50%, rgba(169,110,123,1) 100%);
  


  background-size: 1800% 1800%;

  -webkit-animation: rainbow 3s ease infinite;
  -z-animation: rainbow 3s ease infinite;
  -o-animation: rainbow 3s ease infinite;
  animation: rainbow 3s ease infinite;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.brand0 {
  margin-left: 8px;
  /* margin-right: 10px; */
  /* text-transform: uppercase; */
  font-family: 'Rammetto One', cursive;
  font-size: 1.5rem;
  color: cornsilk;
}


#custom-link {
  /* font-size: 0.8rem; */
  /* font-family: 'Macondo Swash Caps', cursive; */
  /* font-family: 'Sniglet', cursive; */
  /* font-family: 'Press Start 2P', cursive; */
  font-family: 'Rammetto One', cursive;
  color: cornsilk;
  margin-left: 5px;
  margin-right: 5px;
  
}

#custom-link:hover {
  background-color: black;
}

#custom-navbar {
  /* background-color:black; */
  margin-top: -6px;

  background: rgb(169,3,41); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  
  -webkit-box-shadow: 0px 5px 19px 8px rgba(36,36,36,0.75);
-moz-box-shadow: 0px 5px 19px 8px rgba(36,36,36,0.75);
box-shadow: 0px 5px 19px 8px rgba(36,36,36,0.75);
}

#avatar {
  font-size: 1.5rem;
}


@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.score {
  color:white;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-family: 'Nova Square', cursive;
}